<section id="showTask" class="bigView">
  {{#with task}}
  <div class='task'>
    <h1 class="row">Task</h1>
    <div class="row header">
      <h3 class="col-sm-4">Project: {{projectName}}</h3>
      <h3 class="col-sm-4">{{#if ticket}}Ticket: {{ticket}}{{/if}}</h3>
      <h3 class="col-sm-4">Deadline: {{deadline}}</h3>
    </div>

    <div class="row main-info">
      <div class="col-sm-2 left-col">
        <div>
          <h4>Created on:</h4>
          <h5>{{dateCreated}}</h5>
          <h4>By:</h4>
          <h5>{{author}}</h5>
        </div>
        {{#if completed}}
        <hr></hr>
        <div>
          <h4>Completed on:</h4>
          <h5>{{completionDate}}</h5>
          <h4>By:</h4>
          <h5>{{userCompleted}}</h5>
        </div>
        {{/if}}
      </div>
      <div class="col-sm-1">

      </div>
      <div class="col-sm-6 main-col">
        <div class="col-sm-12">
          <h4>Task info:</h4>
          <p>{{info}}</p>
        </div>
        {{#if completed}}
        <div class="col-sm-12">
          <hr></hr>
          <h4>Completion note:</h4>
          <p>{{completionNote}}</p>
        </div>
        {{/if}}
      </div>
      <div class="col-sm-1">

      </div>
      <div class="col-sm-2 right-col">
        <ul>
          <h4>Assigned workers:</h4>
          {{#each assignedWorkers}}

          <li class="worker-li">{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        {{#if completed}}
        {{else}}
        <a onclick="showField('myPopup')" class="button">Complete Task</a>
        {{/if}}
      </div>
      <div class="col-sm-4">
        <a onclick="showField('noteAdder')" class="button">Add note</a>
      </div>
      </div>
    </div>
</div>
  <div class="row note">

  </div>

<div id="noteAdder">
  <form  class="form-horizontal col-sm-12 popuptext" action="#/addTaskNote/{{id}}" method="post">
    <span class="window-close col-sm-12" onclick="showField('noteAdder')"><i class="fa fa-close"></i></span>
    <div class="form-group col-sm-12">
      <div class="form-group col-sm-12">
        <label for="systemInfo" class="control-label col-sm-4">Note:</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="note"  name="note" type="textarea" rows="4"></textarea>
        </div>
      </div>
    </div>
    <input class="form-button" id="btnSubmit" value="Add Note" type="submit"/>
  </form>
</div>

<div id="myPopup">
  <form  class="form-horizontal col-sm-12 popuptext" action="#/completeTask/{{id}}" method="post">
    <span class="window-close col-sm-12" onclick="showField('myPopup')"><i class="fa fa-close"></i></span>
    <div class="form-group col-sm-12">
      <div class="form-group col-sm-12">
        <label for="systemInfo" class="control-label col-sm-4">Closing note:</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="closingNote"  name="closingNote" type="textarea" rows="4"></textarea>
        </div>
      </div>
    </div>
    <input class="form-button" id="btnSubmit" value="Finish Task" type="submit" onclick="showField('myPopup')"/>
  </form>
</div>
  {{/with}}
</section>
